//
   Created by laoono on 6/1/16.

doctype html
html(lang="en")
    head
        title= pageTitle
        link(href="./upload/?static=style.css" rel="stylesheet" type="text/css")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="format-detection" content="telephone=no")
        meta(name="format-detection" content="email=no")
    body
        h1 nodejs - images upload
        #container.col
            if youAreUsingJade
                p You are amazing
            else
                p Use Jade
            p.
                Jade is a terse and simple templating language with a
                strong focus on performance and powerful features.

        .form-control-wrap
            form(action="/upload" enctype="multipart/form-data" method="post")
                .field-input-text-out
                    input.field-input-text#file-name(readonly="" placeholder="请选择文件 或者 拖入文件")
                    input(type="file" name="upload" accept="image/*")#fileUpload
                button(type="button" disabled).field-submit#btn upload

        .file-list#file-list
            span
            a(target="_blank" href="javascript:void(0)").link

        section.file-socket-lists

        .loading#loading
        .mask-layer#mask-layer
        .field-name-wrap
            input.field-name#field-name(placeholder="江湖大名- enter键 深入" minlength="2" maxlength="8")

        script(type='text/javascript' src="./upload/?static=upload.js")
        script#script(type='text/javascript' src="./upload/?static=script.js" data-ws-url="#{wsUrl}")
